
/* Description */

body {
    background-image: url('./../../img/design/pattern/pattern1.jpg');
    background-size: 600px;
}

/* Main */

.main__content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 50px 0 40px;
}
.main__content--item {
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 100%;
}
.description__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}
.description__text:nth-child(1) {
    text-align: right;
}